@import url('https://fonts.googleapis.com/css?family=Bad+Script');

.keyframes(@name; @arguments) {
  @-moz-keyframes @name { @arguments(); }
  @-webkit-keyframes @name { @arguments(); }
  @keyframes @name { @arguments(); }
}

.animation(@arguments) {
  -webkit-animation: @arguments;
  -moz-animation: @arguments;
  animation: @arguments;
}

html, body {
  width: 100%;
  height: 100%;
}

#app {
  width: 100%;
  height: 100%;
  overflow: hidden;
  margin: 0 auto;
  background: transparent url('../public/images/navy_blue.png') center center no-repeat;
  background-size: cover;
}