@import url('https://fonts.googleapis.com/css?family=Bad+Script');

html, body {
  width: 100%;
  height: 100%;
}

#app {
  width: 100%;
  height: 100%;
  margin: 0 auto;
  background: transparent url('../public/images/dartboard.jpg') center center no-repeat;
  background-size: cover;
}

.start-page-overlay {
  width: 100%;
  height: 100%;
  padding: 20px 10px;
  background: rgba(0,0,0,0.6);
  .start-page-container {
    margin: 0 auto;
    width: 90%;
    text-align: center;
    .player-name-label {
      font-family: Georgia, cursive;
      color: #cecece;
      font-style: italic;
      font-weight: normal;
      margin-bottom: 10px;
    }
    .player-name-input {
      color: #000000;
    }
    .start-game-button {
      width: 150px;
    }
    .logo-title {
      font-family: 'Bad Script', cursive;
      color: #ffffff;
      font-size: 40px;
    }
    .start-page-option-block {
      background: rgba(0,0,0,0.6);
      border-radius: 100%;
      margin: 0 20px;
      padding: 10px;
      width: 200px;
      height: 200px;
      label {
        color: #cecece;
        font-size: 9px;
        text-transform: uppercase;
        margin: 10px 0;
      }
      input[type=text] {
        background: transparent;
        border: 0;
        border-bottom: 1px #cecece solid;
        border-radius: 0;
        color: #cecece;
        text-align: center;
        font-size: 28px;
        &:focus {
          border-bottom: 1px #cecece solid;
          border-radius: 0;
          box-shadow: none;
        }
      }
      .start-option-icon {
        width: 64px;
        height: 64px;
        display: block;
        margin: 16px auto;
        opacity: 0.8;
        &.max-score {
          background: transparent url('../public/images/trophy.png') center center no-repeat;
        }
        &.darts-count {
          background: transparent url('../public/images/arrow.png') center center no-repeat;
        }
        &.players-count {
          background: transparent url('../public/images/group.png') center center no-repeat;
        }
      }
    }
  }
  .score-page-container {
    background: #ffffff;
    border-radius: 10px;
    padding: 20px;
    box-shadow: 0 0 10px 0 rgba(0,0,0,1);
    table {
      td {
        position: relative;
      }
    }
    .current-player-controls {
      position: absolute;
      left: 0;
      bottom: -125px;
      width: 100%;
      background: #ffffff;
      padding: 20px;
      border-top: 2px #337ab7 solid;
      box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.3);
      opacity: 0.9;
      z-index: 1000;
      &:before {
        content: "";
        display: block;
        position: absolute;
        top: -10px;
        width: 0;
        left: 15px;
        height: 0;
        border-left: 8px solid transparent;
        border-right: 8px solid transparent;
        border-bottom: 8px solid #337ab7;
      }
    }
  }
}

.form-group {
  margin-bottom: 14px !important;
  width: 50%;
  &.block {
    display: block !important;
  }
  .delete-player {
    margin-left: 6px;
  }
  label {
    display: block !important;
    margin-right: 8px;
  }
  input {
    &.form-control {
      &.darts {
        padding: 0 !important;
        text-align: center;
      }
    }
    width: 80% !important;
  }
}

button[type=button] {
  margin-right: 10px;
}

.table {
  width: 100%;
  td:first-of-type {
    width: 30%;
  }
}

tr {
  &:nth-of-type(1) {
    .progress-bar {
      &.nonactive {
        background: #5C6BC0;
      }
    }
  }
  &:nth-of-type(2) {
    .progress-bar {
      &.nonactive {
        background: #009688;
      }
    }
  }
  &:nth-of-type(3) {
    .progress-bar {
      &.nonactive {
        background: #43A047;
      }
    }
  }
  &:nth-of-type(4) {
    .progress-bar {
      &.nonactive {
        background: #EF6C00;
      }
    }
  }
  &:nth-of-type(5) {
    .progress-bar {
      &.nonactive {
        background: #8D6E63;
      }
    }
  }
  &:nth-of-type(6) {
    .progress-bar {
      &.nonactive {
        background: #78909C;
      }
    }
  }
  .progress-bar {
    max-width: 100%;
    min-width: 5%;
    line-height: 40px !important;
  }
}

.player-name {
  font-size: 14px !important;
  margin: 10px 0;
  padding: 6px 10px !important;
  display: inline-block !important;
  &.current {
    background: #337ab7;
  }
}